#explosion {
    position: absolute;
    font-size: 150px;  /* Really big explosion emoji */
    color: white;
    padding: 0;
    background: none;  /* No background */
    border: none;
    width: auto;
    display: none;
}

#map-container {
    margin-top: 50px;  /* Move the map down */
}


.hidden {
    display: none;
}

